
.section-body{
display:flex;
}
aside{
    flex:1;
    height:100vh;
    background: rgb(36, 34, 34);
}

.profile-result{
    flex:2.5;
   width:300px;
}
.transaction-result{
  flex:3;
 width:700px;
}
.all-result{
    display:grid;
    grid-template-columns: repeat(2,1fr);
   width:600px;
}
.viewprofile{
  display: grid;
  grid-template-columns: repeat(2,200px);
  margin:10px 40px;
}
.view-transaction{
  display:flex;
  grid-template-columns: repeat(2,200px);
  margin:10px 40px;
}
.views-transaction{
  display: none;
  position: absolute;
  top:10;
  background: grey;
  color: white;
  display:flex;
  left:20
 
}
.profile{
  padding:10px;
  text-align: left;
  text-transform: capitalize;
  color:black;
  font-size: 14px;
}
.transaction{
  padding:10px;
  text-align: left;
  text-transform: capitalize;
  color:black;
  font-size: 15px;
  width:200px;
}

.side-bar li{
    list-style: none;
    line-height: 1.5;
    padding-top:20px;
  padding-left:30px;
}
.side-bar li a{

    color:white;
}

.acct-title{
  text-align: center;
}

@media(min-width: 900px) {
  .mobile-nav{
    display: block;
  }
  .view-transactionss{
    display: none;
  }
  }
@media(max-width: 900px) {
 
  .view-transactionss{
    display: none;
  }
  .transaction-result{
    flex:3;
   width:800px;
  }
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}

    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
    
   
  }
  
  @media  (max-width: 690px) {
    aside{
      display: none;
    }
    #accounts{
      position: absolute;;
      top:250px;
      background: white;
      left:100px;
      height:100px;
      width: 100vw;
      font-size: 100px;
      padding:15px 40px;
      /* display:block ; */
  }
    /* .view-transaction{
      display: none;
    } */
    .topnav.responsive {position: relative;}
  
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    
  
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
  }
  @media (max-width:500px){
  
    aside{
      display: none;
    }
    section{
        background-color: rgb(223, 217, 217);
        margin:0 auto;
        width:85%;
        height: 120vh;
        background: rgb(235, 231, 231);
    }
    .profile{
      padding: 10px;
  
    text-transform: capitalize;
    color: black;
    font-size: 14px;
    text-align: center;
    }
    .viewprofile{
      display: grid;
      grid-template-columns: repeat(1,200px);
      margin:10px 40px;
     
    }
    
    .signup-form{
      width:80%;
      margin:0;
      padding-top: 50px;
      position: relative;
      left:9%;
  }
  .btn{
      width:100%;
      padding:10px;
      margin-top:30px;
      margin-left: 1%;
      border:none;
      color:white;
      background:green;
      font-weight: bold;
  }
  
    
.profile-result{
  flex:2.5;
 width:275px;
}
  }

  @media (max-width:370px){
    aside{
      display: none;
    }
    .form-h2{
    color:rgb(73, 69, 69);
    text-align: center;
    }
    section{
      background-color: rgb(223, 217, 217);
      margin:0 auto;
      width:85%;
      height: 120vh;
      background: rgb(235, 231, 231);
  }
  .profile{
    padding:10px;
    text-align: center;
    text-transform: capitalize;
    color:black;
    font-size: 14px;
   width: 200px;
  }
  
.profile-result{
flex:2.5;
width:200px;
}
.signup-form{
  width:80%;
  margin:0;
  padding-top: 50px;
  position: relative;
  left:9%;
}

.btn{
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  margin-left: 1%;
  border: none;
  color: white;
  background: green;
  font-weight: bold;
}
}